
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*.list1, .carousel {
	margin-top: 1em;  
}*/



.list1 a {
	font-weight: 600;
    /*font-size: .8rem;*/
    letter-spacing: .1rem;
	font-size: .9em;
	text-align: center;
	text-decoration: none;
	color: #737373;
	margin: 0px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.2em
}

/*.list1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
		border-radius: 0px;
}
*/

.list1 li {
	/*font-family: sans-serif;*/
	/*text-transform: uppercase;*/
	height: auto;
	padding: 1em;
	background-color: #d9d9d9;
	/*border: 2px solid ##a6a6a6;*/
}

.list1 li:hover {
	background-color:  #b3b3b3;
}

.heading_home {
	width: 73em;
    height: .3rem;
    background-color: #8c8c8c;
    margin: 1rem auto 1rem;
    margin-top: 3em;
}

/*.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #262626;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #262626;
}


*/
